// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";

$project-colors: (
  "light-vermilion": #F15D51,
  "silver": #C5C6CE,
  "dark-space-blue": #00001A,
  "gunmetal": #5E607A,
  "almost-white": #FFFDFA,
);

$theme-colors: map-merge($theme-colors, $project-colors);

$font-family-sans-serif: "Inter", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

@import "../../node_modules/bootstrap/scss/bootstrap.scss";

// Then add additional custom code here

nav {
  .offcanvas-header {
    justify-content: flex-end;
  }

  .navbar-toggler {
    border: 0;

    &:focus {
      box-shadow: none;
    }
  }
}

a {
  color: #FFF;
}